*
!.gitignore
!init.el
!conf/
!etc/
!info/
!elisp/
!conf/*
!etc/*
!info/*
!elisp/*
!elpa/
!public_repos/
elpa/*
elpa/archives
public_repos/*
!elpa/.gitkeep
!public_repos/.gitkeep
!public_repos/clone.bat
